/**------------------- 
**      HEADER
--------------------*/
.header {
  --gutters: var(--space-m-l);

  background-image: url('../assets/images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 2.125rem;
  margin: 0 auto;
  max-width: 180rem;
  min-height: 33.625rem;
}

.header__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 12.625em) {
  .header__bar {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media only screen and (min-width: 48em) {
  .header {
    background-image: url('../assets/images/desktop/image-header.jpg');
    min-height: 50rem;
  }
}

/*?------------------- 
*     NAV & MENU
--------------------*/
.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.navigation-list {
  display: none;
}

.navigation-list {
  gap: 2.9375rem;
}

@media only screen and (min-width: 48em) {
  .hamburger-menu {
    display: none;
  }
  .navigation-list {
    display: flex;
  }
}

@media only screen and (max-width: 48em) {
  .hamburger-menu[aria-expanded='true'] + .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 2.25rem;
    right: 0rem;

    background-color: hsl(var(--clr-white));
    clip-path: polygon(
      0 100%,
      100% 100%,
      100% 21%,
      100% 0,
      90% 5%,
      67% 5%,
      0 5%
    );
    padding-inline: var(--space-l-xl);
    padding-block: var(--space-3xs-2xl);
  }

  .navigation {
    position: relative;
  }

  .navigation-list a {
    color: hsl(var(--clr-dark-grayish-blue));
    font-size: 1.25rem;
  }

  .navigation-list .btn a {
    color: hsl(var(--clr-very-dark-desaturated-blue));
  }
}

/*?------------------- 
*   TITLE & ARROW
--------------------*/
.header__title {
  margin-top: var(--space-2xl-3xl);
}

.down-arrow {
  margin-top: var(--space-xl-2xl);
}
