/**------------------- 
**      CENTER
--------------------*/

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--gutters, 1rem);
  padding-inline-end: var(--gutters, 1rem);
}

/**------------------- 
**      GRID
--------------------*/
.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}
