/* @link https://utopia.fyi/type/calculator?c=375,16,1.25,1440,20,1.3,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
/* @link https://utopia.fyi/space/calculator?c=375,18,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  /* COLOURS */
  /* primary */
  --clr-soft-red: 7, 99%, 70%;
  --clr-yellow: 51, 100%, 49%;
  /* graphic design text */
  --clr-dark-desaturated-cyan: 167, 40%, 24%;
  /* photography text */
  --clr-dark-blue: 198, 62%, 26%;
  /* footer */
  --clr-dark-moderate-cyan: 168, 34%, 41%;

  /* neutral */
  --clr-very-dark-desaturated-blue: 212, 27%, 19%;
  --clr-very-dark-grayish-blue: 213, 9%, 39%;
  --clr-dark-grayish-blue: 232, 10%, 55%;
  --clr-grayish-blue: 210, 4%, 67%;
  --clr-white: 0, 0%, 100%;

  --hsla: 1;

  /* TYPE SCALE */
  --step--2: clamp(0.64rem, calc(0.61rem + 0.15vw), 0.74rem);
  --step--1: clamp(0.8rem, calc(0.74rem + 0.24vw), 0.96rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.38vw), 1.25rem);
  --step-1: clamp(1.25rem, calc(1.12rem + 0.56vw), 1.63rem);
  --step-2: clamp(1.56rem, calc(1.37rem + 0.83vw), 2.11rem);
  --step-3: clamp(1.95rem, calc(1.67rem + 1.19vw), 2.75rem);
  --step-4: clamp(2.44rem, calc(2.04rem + 1.7vw), 3.57rem);
  --step-5: clamp(3.05rem, calc(2.49rem + 2.39vw), 4.64rem);

  /* FLUID SPACE */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.56rem + 0vw), 0.56rem);
  --space-xs: clamp(0.88rem, calc(0.88rem + 0vw), 0.88rem);
  --space-s: clamp(1.13rem, calc(1.13rem + 0vw), 1.13rem);
  --space-m: clamp(1.69rem, calc(1.69rem + 0vw), 1.69rem);
  --space-l: clamp(2.25rem, calc(2.25rem + 0vw), 2.25rem);
  --space-xl: clamp(3.38rem, calc(3.38rem + 0vw), 3.38rem);
  --space-2xl: clamp(4.5rem, calc(4.5rem + 0vw), 4.5rem);
  --space-3xl: clamp(6.75rem, calc(6.75rem + 0vw), 6.75rem);
  --space-4xl: clamp(7.88rem, calc(7.88rem + 0vw), 7.88rem);
  --space-5xl: clamp(9rem, calc(9rem + 0vw), 9rem);
  --space-6xl: clamp(10.13rem, calc(10.13rem + 0vw), 10.13rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.22rem + 0.38vw), 0.56rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.45rem + 0.47vw), 0.88rem);
  --space-xs-s: clamp(0.88rem, calc(0.79rem + 0.38vw), 1.13rem);
  --space-s-m: clamp(1.13rem, calc(0.93rem + 0.85vw), 1.69rem);
  --space-m-l: clamp(1.69rem, calc(1.49rem + 0.85vw), 2.25rem);
  --space-l-xl: clamp(2.25rem, calc(1.85rem + 1.69vw), 3.38rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.98rem + 1.69vw), 4.5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.71rem + 3.38vw), 6.75rem);
  --space-3xl-4xl: clamp(6.75rem, calc(6.35rem + 1.69vw), 7.88rem);
  --space-4xl-5xl: clamp(7.88rem, calc(7.48rem + 1.69vw), 9rem);
  --space-5xl-6xl: clamp(9rem, calc(8.6rem + 1.69vw), 10.13rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.73rem + 1.69vw), 2.25rem);
  --space-m-3xl: clamp(1.69rem, calc(-0.1rem + 7.61vw), 6.75rem);
  --space-m-6xl: clamp(1.69rem, calc(-1.28rem + 12.68vw), 10.13rem);
  --space-l-xl: clamp(2.25rem, calc(1.35rem + 8.65vw), 3.38rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.98rem + 1.69vw), 4.5rem);
  --space-xl-6xl: clamp(3.38rem, calc(1rem + 10.14vw), 10.13rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.71rem + 3.38vw), 6.75rem);
  --space-3xs-2xl: clamp(0.31rem, calc(-3.05rem + 32.21vw), 4.5rem);

  /* FONT FAMILY */
  --ff-barlow: 'Barlow', sans-serif;
  --ff-fraunces: 'Fraunces', serif;

  /* FONT WEIGHT */
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-weight: var(--fw-black);
}

nav a,
p,
.p-small,
.testimonial p,
h5 span,
footer a {
  font-weight: var(--fw-semibold);
}

h1 {
  color: hsl(var(--clr-white));
  font-family: var(--ff-fraunces);
  font-size: var(--step-4);
  letter-spacing: 0.5469rem;
  line-height: 3.0825rem;
}

h2 {
  color: hsl(var(--clr-very-dark-desaturated-blue));
  font-family: var(--ff-fraunces);
  font-size: var(--step-3);
  line-height: 2.5rem;
}

h3 {
  color: hsl(var(--clr-dark-desaturated-cyan));
  font-family: var(--ff-fraunces);
  font-size: 1.75rem;
}

h4 {
  color: hsl(var(--clr-grayish-blue));
  font-family: var(--ff-fraunces);
  font-size: var(--step-0);
  letter-spacing: 0.3125rem;
}

h5 {
  color: hsl(var(--clr-grayish-blue));
  font-family: var(--ff-fraunces);
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
}

p {
  color: hsl(var(--clr-dark-grayish-blue));
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
  line-height: 1.875rem;
}

a {
  color: hsl(var(--clr-very-dark-desaturated-blue));
  font-family: var(--ff-fraunces);
  font-size: 0.9375rem;
  text-decoration: none;
}

ul {
  list-style: none;
}

h5 span {
  color: hsl(var(--clr-very-dark-desaturated-blue));
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
  font-weight: var(--fw-black);
}

footer a {
  color: hsl(var(--clr-dark-moderate-cyan));
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
}

.navigation-list a {
  color: hsl(var(--clr-white));
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
}

.testimonial p {
  color: hsl(var(--clr-very-dark-grayish-blue));
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 36ch;
}

.p-small {
  font-family: var(--ff-barlow);
  font-size: 1rem;
  line-height: 1.6875rem;
  max-width: 37ch;
}

@media only screen and (min-width: 48em) {
  h1 {
    letter-spacing: 0.3906rem;
  }

  h3 {
    line-height: 2.5rem;
  }

  nav a {
    font-size: 1.125rem;
  }
}

/* ///////////////////////////////////////////////// */
/*&------------------- 
**     BUTTON
--------------------*/
.btn {
  background-color: hsl(var(--clr-yellow));
  border: none;
  border-radius: 1.75rem;
  color: hsl(var(--clr-very-dark-desaturated-blue));
  cursor: pointer;
  font-family: var(--ff-fraunces);
  font-size: 0.9375rem;
  font-weight: var(--fw-bold);
  padding: 1.1em 1.5em;
  text-transform: uppercase;
}

.btn a {
  color: hsl(var(--clr-very-dark-desaturated-blue));
  font-family: var(--ff-fraunces);
}

@media only screen and (min-width: 48em) {
  .btn {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-very-dark-desaturated-blue));
  }

  .btn:hover {
    background-color: hsl(var(--clr-white), 0.25);
  }

  .btn:hover > a {
    color: hsl(var(--clr-white));
  }
}
